.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}
